:root {
    --font-title: 'Domine', serif;
    --font-content: 'Akshar', sans-serif;
}

body {
    margin: 0;
}

header {
    height: 100vh;
    background-color: #1B4F91;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

#menu {
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

#menu h1,
#menu ul li a {
    color: #FFFFFF;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    text-shadow: .0625rem .0625rem .0625rem rgba(0, 0, 0, 0.5);
}

#menu_check {
    display: none;
}

#menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
}

#menu ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 2.15rem 5vw;
}

#menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

header p {
    margin: 0;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    line-height: 114px;
}

@keyframes slidein {
    from {
        margin-left: -500px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes zoom {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

#header_title {
    font-size: 5.375rem;
    text-shadow: .3125rem .3125rem .625rem rgba(0, 0, 0, 0.75);
    padding: 3.25rem 0 0 3.25rem;
    animation-duration: 2s;
    animation-name: slidein;
}

#header_hook {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.75rem;
    text-align: center;
    text-shadow: .3125rem .3125rem 1.5625rem #000000;
    bottom: 0rem;
    animation-duration: 2s;
    animation-name: zoom;
}

main {
    margin: 0 12vw;
}

h2 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin: 2.25rem 0;
}

p {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 2.25rem;
    text-align: justify;
    margin: 2.25rem;
}

#home_section_1_content {
    display: flex;
}

#home_section_1_content_img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.button {
    display: flex;
    justify-content: center;
}

.left {
    justify-content: start;
}

.button a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-shadow: 0rem 0rem .125rem rgba(0, 0, 0, 0.5);
    background-color: #1B4F91;
    width: 12.5rem;
    height: 2.25rem;
    text-align: center;
}

.button a:hover {
    background-color: #7595BD;
    color: white;
}

#home_section_2 {
    margin: 0 -12vw;
}

.home_panorama {
    width: 100%;
    height: fit-content;
}

h3 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    margin: 2.25rem 0;
}

.bottomline {
    border-bottom: .3125rem solid #000000;
    padding-bottom: 11px;
}

#home_section_3_content {
    display: flex;
    gap: 2.125rem;
}

.home_section_3_content_actu {
    width: 33%;
    background-color: #F2F5F8;
    border: .125rem solid #1B4F91;
    border-radius: .3125rem;
}

.home_section_3_content_actu img {
    width: 100%;
    height: fit-content;
}

h4 {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    margin: 1.5vw 3vw 1vw 3vw;
}

.home_section_3_content_actu_text p {
    margin: 0 3vw 1.5vw 3vw;
}

#home_section_1,
#home_section_3,
#home_section_4 {
    margin-bottom: 2.25rem;
}

#home_section_4 {
    display: flex;
    gap: 2.25rem;
}

#home_section_4_1 {
    width: calc(31.25%);
}

#home_section_4_2 {
    width: calc(68.75%);
}

#home_section_4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #A6ACB8;
    padding: 1.625rem;
    display: grid;
    grid-template-columns: 1fr 0.75fr 0.85fr;
    grid-template-rows: 1fr;
    gap: 5vw;
}

#footer_content_1 {
    grid-area: 1 / 1 / 2 / 2;
}

#footer_content_2 {
    grid-area: 1 / 2 / 2 / 3;
}

#footer_content_3 {
    grid-area: 1 / 3 / 2 / 4;
}

footer h3,
footer p {
    margin: 0 0 1.625rem 0;
    font-weight: 400;
}

footer p:last-child {
    margin: 0
}

#newsletter {
    margin: 0 0 1.625rem 0;
    align-items: center;
}

#newsletter_email_label {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
}

#newsletter_inputs {
    display: flex;
}

#newsletter_email::placeholder {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #6E6E6E;
}

#newsletter_email {
    padding: 0;
    padding-left: 1.625rem;
    background: #FFFFFF;
    color: #6E6E6E;
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    border: none;
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

#newsletter_email:invalid {
    border: 1.5px solid #FF0000;
}

#newsletter_email:invalid:not(:focus) {
    color: #FF0000;
}

#newsletter_button,
#newsletter_link {
    background: #6C7689;
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-shadow: 0rem 0rem .125rem rgba(0, 0, 0, 0.5);
}

#newsletter_button {
    width: 7.5rem;
    height: 2.8125rem;
    border: none;
}

#newsletter_button:hover,
#newsletter_link:hover {
    background-color: #82BE7E;
}

#newsletter_link {
    text-decoration: none;
    padding: 0.5rem;
}

a {
    color: #000000;
}

a:hover {
    color: #364826;
    text-decoration: none;
}

#footer_content_3_maps {
    overflow: hidden;
}

#footer_content_3 {
    display: flex;
    flex-direction: column;
}

#footer_content_3_maps {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

#header_short {
    height: 35.5rem;
}

#header_short #header_title {
    text-shadow: 5px 5px 25px #000000;
}

#header_short #header_hook {
    display: none;
}

.panorama {
    width: 100%;
    height: auto;
}

#esp {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0rem;
}

#esp_section_1 {
    grid-area: 1 / 1 / 2 / 3;
}

#esp_section_2 {
    grid-area: 2 / 1 / 3 / 3;
}

#esp_section_3 {
    grid-area: 3 / 1 / 4 / 3;
}

#esp_section_4 {
    grid-area: 4 / 1 / 5 / 2;
}

#esp_section_5 {
    grid-area: 4 / 2 / 5 / 3;
}

#esp_section_6 {
    grid-area: 5 / 1 / 6 / 3;
}

#esp_section_7 {
    grid-area: 6 / 1 / 7 / 3;
}

#esp_section_8 {
    grid-area: 7 / 1 / 8 / 3;
}

#esp_section_1_gallery_thumbnails {
    display: flex;
    justify-content: space-around;
}

#esp_section_1_gallery_thumbnails img {
    width: calc(20%);
    height: auto;
    border: 15px solid #FFFFFF;
}

#esp_section_2 p,
#esp_section_6 p {
    margin-bottom: 0
}

#esp_section_3 p,
#esp_section_7 p {
    margin-top: 0
}

#esp_section_8 {
    margin-bottom: 2.25rem;
}

#contact_form label,
#contact_form input,
#contact_form textarea {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

#contact_form label {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#contact_form input,
#contact_form textarea {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.875rem;
    margin-bottom: 2rem;
}

#contact_form_flexname {
    display: flex;
    gap: 2.5rem;
}

#contact_form_flexname_name,
#contact_form_flexname_firstname {
    width: 100%;
}

input#contact_form_button {
    border: 0;
    border-radius: 0;
    padding: 0.875rem;
    margin-bottom: 2rem;
    display: inline-block;
    color: white;
    text-shadow: 0rem 0rem 0.125rem rgb(0 0 0 / 50%);
    background-color: #1B4F91;
    width: 12.5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
}

input#contact_form_button:hover {
    background-color: #7595BD;
}

#footer_content_1_content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.625rem;
    justify-content: space-between;
}

@media (min-width: 765px) and (max-width: 1000px) {
    main {
        margin: 0 5vw;
    }
    #home_section_2 {
        margin: 0 -5vw;
    }
    #home_section_3_content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .home_section_3_content_actu {
        width: 41vw;
    }
    footer {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 5vw;
    }
    #footer_content_1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    #footer_content_2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    #newsletter_email_label {
        display: none;
    }
    #footer_content_3 {
        grid-area: 2 / 1 / 3 / 3;
    }
    #footer_content_3 h3 {
        display: none;
    }
}

@media (max-width: 765px) {
    main {
        margin: 0 7vw;
    }
    #menu ul {
        display: none;
    }
    #header_title {
        display: none;
    }
    h2,
    h3 {
        margin: 7vw 0;
        text-align: center;
    }
    #home_section_1_content {
        flex-direction: column;
    }
    #home_section_1_content_img {
        width: 100%;
        height: auto;
    }
    #home_section_2 {
        margin: 0 -7vw;
    }
    #home_section_3_content {
        flex-wrap: wrap;
    }
    .home_section_3_content_actu {
        width: 100%;
    }
    #home_section_4 {
        display: none;
    }
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        gap: 5vw;
        text-align: center;
    }
    #footer_content_1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    footer p {
        text-align: center;
    }
    #footer_content_2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    #newsletter_email_label {
        text-align: left;
    }
    #footer_content_3 {
        grid-area: 3 / 1 / 4 / 2;
    }
    #esp {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #esp_section_1,
    #esp_section_2,
    #esp_section_3,
    #esp_section_4,
    #esp_section_5,
    #esp_section_6,
    #esp_section_8 {
        margin-bottom: 0;
    }
    #esp p {
        margin: 0;
    }
    #esp_section_1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    #esp_section_2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    #esp_section_4 {
        grid-area: 3 / 1 / 4 / 2;
    }
    #esp_section_3 {
        grid-area: 4 / 1 / 5 / 2;
    }
    #esp_section_5 {
        grid-area: 5 / 1 / 6 / 2;
    }
    #esp_section_6 {
        grid-area: 6 / 1 / 7 / 2;
    }
    #esp_section_8 {
        grid-area: 7 / 1 / 8 / 2;
    }
    #esp_section_7 {
        grid-area: 8 / 1 / 9 / 2;
        margin-bottom: 2rem;
    }
    #contact_form_flexname {
        gap: 0;
        flex-direction: column;
    }
    p {
        margin-left: 0;
        margin-right: 0;
    }
    .bottomline {
        text-align: left;
    }
    .hamburger {
        display: unset;
    }
    #menu_check:checked~ul {
        display: block;
        position: absolute;
        top: 6rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #menu ul {
        margin: 0;
    }
    #menu ul li {
        padding: 2.15rem;
    }
    .hamburger {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        flex-direction: column;
        box-sizing: border-box;
    }
    .lines {
        width: 2rem;
        height: .25rem;
        background: white;
    }
    #menu_check:checked~label .line1 {
        transform: rotate(45deg) translate(8.5px, 8.5px);
    }
    #menu_check:checked~label .line2 {
        visibility: hidden;
    }
    #menu_check:checked~label .line3 {
        transform: rotate(-45deg) translate(8.5px, -8.5px);
    }
    #menu ul li a {
        width: 100%;
        display: inline-block;
        padding: 2.15rem 0;
    }
    #menu ul li {
        padding: unset;
    }
    #header_short #header_hook {
        display: flex;
    }
}