:root {
    --font-title: 'Domine', serif;
    --font-content: 'Akshar', sans-serif;
}

body {
    margin: 0;
}

header {
    height: 100vh;
    background-color: #1B4F91;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

#menu {
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

#menu h1,
#menu ul li a {
    color: #FFFFFF;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    text-shadow: .0625rem .0625rem .0625rem rgba(0, 0, 0, 0.5);
}

#menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
}

#menu ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 2.15rem 4.5rem;
}

#menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

header p {
    margin: 0;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    line-height: 114px;
}

.header_title {
    font-size: 5.375rem;
    text-shadow: .3125rem .3125rem .625rem rgba(0, 0, 0, 0.75);
    padding: 3.25rem 0 0 3.25rem;
}

.header_hook {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.75rem;
    text-align: center;
    text-shadow: .3125rem .3125rem 1.5625rem #000000;
    bottom: 0rem;
}

main {
    margin: 0 11rem;
}

h2 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin: 2.25rem 0;
}

p {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 36px;
    text-align: justify;
    margin: 2.25rem;
}

#home_section_1_content {
    display: flex;
    margin-bottom: 2.25rem;
}

.button {
    display: flex;
    justify-content: center;
}

.button a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-shadow: 0rem 0rem .125rem rgba(0, 0, 0, 0.5);
    background-color: #1B4F91;
    width: 12.5rem;
    height: 2.25rem;
    text-align: center;
}

.button a:hover {
    background-color: #7595BD;
    color: white;
}

#home_section_2 {
    margin: 0 -11rem;
}

.home_panorama {
    width: 100%;
    height: fit-content;
}

h3 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    margin: 2.25rem 0;
}

.bottomline {
    border-bottom: .3125rem solid #000000;
    padding-bottom: 11px;
}

#home_section_3_content {
    display: flex;
    gap: 2.125rem;
}

.home_section_3_content_actu {
    width: 33%;
    background-color: #F2F5F8;
    border: .125rem solid #1B4F91;
    border-radius: .3125rem;
}

.home_section_3_content_actu img {
    width: 100%;
    height: fit-content;
}

h4 {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    margin: 1.5rem 3rem 1rem 3rem;
}

.home_section_3_content_actu_text p {
    margin: 0 3rem 1.5rem 3rem;
}

#home_section_4 {
    display: flex;
    gap: 2.25rem;
    margin: 2.25rem 0;
}

#home_section_4_1 {
    width: calc(38.213%);
}

#home_section_4_2 {
    width: calc(61.787%);
}

#home_section_4 img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #A6ACB8;
    display: flex;
    gap: 4.5625rem;
    padding: 1.625rem;
}

.footer_contents {
    width: 33%;
}

footer h3,
footer p {
    margin: 0 0 1.625rem 0;
    font-weight: 400;
}

footer p:last-child {
    margin: 0
}

#newsletter {
    margin: 0 0 1.625rem 0;
    align-items: center;
}

#newsletter_email_label {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
}

#newsletter_inputs {
    display: flex;
}

#newsletter_email::placeholder {
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #CCCCCC;
}

#newsletter_email {
    padding: 0;
    padding-left: 1.625rem;
    background: #FFFFFF;
    color: #CCCCCC;
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    border: none;
}

#newsletter_email:invalid {
    border: 1.5px solid #FF0000;
}

#newsletter_email:invalid:not(:focus) {
    color: #FF0000;
}

#newsletter_button {
    width: 7.5rem;
    height: 2.8125rem;
    background: #6C7689;
    border: none;
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-shadow: 0rem 0rem .125rem rgba(0, 0, 0, 0.5);
}

#newsletter_button:hover {
    background-color: #82BE7E;
}

a {
    color: #000000;
}

a:hover {
    color: #364826;
    text-decoration: none;
}

#footer_content_3_maps {
    overflow: hidden;
}

#footer_content_3 {
    display: flex;
    flex-direction: column;
}

#footer_content_3_maps {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

#header_short {
    height: 35.5rem;
}

#header_short .header_title {
    text-shadow: 5px 5px 25px #000000;
}

#header_short .header_hook {
    display: none;
}

.panorama {
    width: 100%;
    height: auto;
}

#esp_section_1_gallery_thumbnails {
    display: flex;
    justify-content: space-around;
}

#esp_section_1_gallery_thumbnails img {
    width: calc(20%);
    height: auto;
    border: 15px solid #FFFFFF;
}

#esp_section_2 p, #esp_section_6 p {margin-bottom:0}
#esp_section_3 p, #esp_section_7 p {margin-top:0}