:root {
    --color-blue: #1B4F91;
    --font-content: 'Akshar', sans-serif;
    --color-invalid: #F80000;
}

@media (hover:hover) {
    #login_button:hover {
        background-color: #7595BD;
    }
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-blue);
}

h1 {
    font-family: 'Glory';
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    width: 65%;
}

main {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

form {
    width: 75%;
}

.login_input {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.875rem;
    margin-bottom: 2rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

#login_button {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0.875rem;
    margin-bottom: 0;
    color: white;
    text-shadow: 0rem 0rem 0.125rem rgb(0 0 0 / 50%);
    background-color: #1B4F91;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
    cursor: pointer;
}

#login_button:active {
    background-color: #7595BD;
}

label {
    display: flex;
    font-family: Glory;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 11px;
}

.login_form_invalid {
    border: 1px solid var(--color-invalid);
    margin-bottom: 0.5rem;
}

.login_form_span_invalid {
    display: block;
    color: var(--color-invalid);
    font-family: var(--font-content);
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    text-align: justify;
    margin-bottom: 1rem;
}

@media (max-width: 765px) {
    main {
        height: 95%;
        width: 95%;
    }
    h1 {
        width: 85%;
    }
}