body {
    margin: 0;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (hover:hover) {
    #logout:hover {
        cursor: pointer;
        background-color: #82BE7E;
    }
    #cross_button_icon:hover {
        fill: #BBBBBB;
        cursor: pointer;
    }
    .button_blue:hover {
        cursor: pointer;
        background-color: #7595BD;
    }
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6C7689;
}

#main_bar,
footer {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

#main_bar {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

#main_bar,
table,
footer {
    width: 80vw;
}

#header_title {
    margin: 0 0 0 1.25rem;
    color: white;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgb(0 0 0 / 50%);
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
}

#logout {
    margin-right: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout:active {
    background-color: #82BE7E;
}

#searching {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

#search {
    background-image: url("../images/magnifier.svg");
    background-repeat: no-repeat;
    background-position: center left 10px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    padding: 0 2rem;
    height: 2.8125rem;
    width: 15rem;
    -webkit-appearance: none;
}

#search:focus::placeholder {
    visibility: hidden;
}

#search::-webkit-search-cancel-button {
    display: none;
}

#cross_button {
    display: none;
    position: absolute;
    right: 10px;
    border: 0;
    background: none;
    padding: 0;
}

#cross_button_icon:active {
    fill: #BBBBBB;
}

#cross_button_icon {
    width: 20px;
    fill: #CCCCCC;
}

tr {
    height: 3.375rem;
}

tr:nth-child(even) {
    background-color: #F8F8F8;
}

tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.button_blue {
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0.875rem;
    display: inline-block;
    color: white;
    text-shadow: 0rem 0rem 0.125rem rgb(0 0 0 / 50%);
    background-color: #1B4F91;
    width: 12.5rem;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    font-size: 1.125rem;
    text-decoration: none;
}

.button_blue:active {
    background-color: #7595BD;
}

#more:disabled {
    cursor: not-allowed;
    background-color: #4e4e4e;
}

table {
    border-radius: 5px;
    border-spacing: 0;
}

thead {
    font-family: 'Glory';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center
}

tr.head {
    background-color: #D9D9D9;
}

#head_date {
    width: 25%;
}

#head_bin {
    width: 7%;
}

p,
td {
    font-family: 'Akshar';
    font-style: normal;
}

td {
    font-weight: 300;
    font-size: 1.125rem;
    text-align: center;
}

.admin_bin {
    cursor: pointer;
}

.admin_bin_button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 765px) {
    #header_title {
        margin: 0.1rem 0 0.1rem 1.25rem;
        font-size: 1.05rem;
    }
    #main_bar,
    table,
    footer {
        width: 90vw;
    }
    #main_bar {
        gap: 1.5rem;
        flex-direction: column;
    }
    #searching,
    #search {
        width: 100%;
    }
    #head_date,
    .admin_date {
        display: none;
    }
}